extends layout

block headers
  title Books I read

block content
  p Test content for the index page
  each post in site.posts
    a.post
      h2= post.title
      date= post.date
      != post.content
